<! -- 7- add the list to model and use it in the script -->
@model IEnumerable<CategoriesClass>

@{
    int x = 1;
}
<div>
    @if (TempData["Sucsess"] != null)
    {
        <h3 class="text-danger">
        @TempData["Sucsess"]
        </h3>
    }

</div>


<div class="container p-3">
<div class="row pt-4">
    <div class="col-6">
        <h3 class="text-primary">القوائم</h3>
    </div>
    <div class="col-6 text-start">
            <a asp-controller="Categories" asp-action="New" class="btn btn-primary"><i class="bi bi-plus-square"></i> إضافة قائمة جديدة</a>

    </div>
</div>
</div>

<table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>القائمة</th>
                <th>الوصف</th>
                <th>Edit</th>
            </tr>
        </thead>  
        <tbody>
           
    @foreach(var Categories in Model)
    {

            <tr>
                <td>@x</td>
                <td>@Categories.CategoryName </td>
                <td>@Categories.Discription </td>
                <td>
                    <a asp-controller="Categories" asp-action="Edit" asp-route-Id="@Categories.CategoryID" class="btn btn-success"><i class="bi bi-pencil-square"></i></a>
                    <a asp-controller="Categories" asp-action="Delete" asp-route-CategoryId="@Categories.CategoryID" class="btn btn-danger"><i class="bi bi-trash"></i></a>

                    <form method="post" asp-controller="Categories" asp-action="Delete" asp-route-CategoryId="@Categories.CategoryID" onsubmit="return confirm('are you sure you want to delete the record?')">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            x += 1;
        }
    </tbody>
</table>